<h1>Welcome, <%= current_user.username.capitalize %></h1>

<h2>All Workdays </h2>
<% @workdays.each do |w| %>
    <ul>
    <li><%= w.shift_start %></li>
    </ul>
<% end %>

<a href="/logout"><strong>Logout</strong></a>

<p class="error-message"><%= flash[:error] %></p>

