<h1>Welcome, <%= current_user.username.capitalize %></h1>

<h2>All Workdays </h2>
<% @workdays.each do |w| %>
    <ul>
    <li><a href="/workdays/<%= w.id %>"> <%= w.notes %> </a> </li>
    </ul>
<% end %>

<br>
</br>

<h3><a href="/workdays/new">Enter a new workday</a></h3>


<h4><a href="/logout">Logout</a></h4>

<p class="error-message"><%= flash[:error] %></p>

