<h1>Enter a new workday</h1>

<form action="/workdays" method="post">
    <h3>Shift Start Day: <input type="date" name="shift_start"></h3>
    <h3>Shift Start Time: <input type="time" name="shift_start_time"></h3>
    <br>
    <h3>Shift End Day: <input type="date" name="shift_end"></h3>
    <h3>Shift End Time: <input type="time" name="shift_end_time"></h3>
    <br>
    <h3>Notes: <input type="text" name="notes"></h3>
    <input type="submit" value="Submit">

</form>