<h1>Enter a new workday</h1>

<form action="/workdays" method="post">
    <h3>Shift Start: <input type="datetime-local" name="shift_start"></h3>
    <h3>Shift End: <input type="datetime-local" name="shift_end"></h3>
    <h3>Notes: <input type="text" name="notes"></h3>
    <input type="submit" value="Submit">

</form>